header.b-header{
    border-radius: 0;
}

header div h2{
    color: var(--color-light, #fff);
}

main {
    --stack-space: var(--s1);
}

/* --- Button Block --- */
.b-button {
  padding: var(--s-2) var(--s1);
  border-radius: var(--s-2);
  background-color: var(--primary-color);
  color:var(--primary-button-text-color);
  font-weight: 400;
  border: var(--border-thin) solid transparent;
  text-align: center;
  font-size: var(--font-0);
}

.b-button:hover {
    opacity: 60%;
}

.b-button--primary:hover {
  background-color: var(--color-dark);
  opacity: 100%;
}

.b-button--secondary {
  background-color: var(--border-color); /* Gray */
    color: var(--text-primary);
}

.b-button--secondary:hover{
  background-color: var(--text-primary); /* Gray */
    color: var(--border-color);
}

.b-button--danger {
  background-color: var(--destructive); /* red */
}

.b-modal{
    position:relative;
    --box-padding:var(--s4);
}

/* --- Modal Close Button --- */
.b-modal-close-button {
  position: absolute;
  top: var(--s-1);
  right: var(--s-1);
  font-size: var(--font-3);
  line-height: 1;
  color: #666;
}

.b-modal-close-button:hover {
    color: #000;
    background-color: transparent;
}

/* --- Donation Form Block (Aesthetics only) --- */
.b-donation-form {
    /* Layout is handled by l-stack */
}

.b-donation-form h3 {
    margin-bottom: var(--s0);
    text-align: center;
}

.b-form-donation__field {
    --stack-space: var(--s-1);
}

.b-form-donation__field label {
    display: block;
    font-size: var(--font-0);
}

.b-donation-form__input {
    --stack-space: var(--s-1);
    padding: var(--s-2);
    border: var(--border-thin) solid #ccc;
    border-radius: var(--s-2);
    font-size: var(--font-0);
    width: 100%;;
}

.b-donation-form__input:focus {
    outline: none;
    border-color: var(--secondary);
    box-shadow: 0 0 0 1px var(--secondary);
}

.b-donation-form__error {
    color: var(--des); /* Red */
    background-color: #f8d7da; /* Light red */
    border: var(--border-thin) solid #f5c2c7;
    padding: var(--s1);
    border-radius: var(--s-1);
}

/* --- Donation Summary Block (Aesthetics only) --- */
.b-dashboard > * {
    flex: 1;
}

/* --- Filters Block (Aesthetics only) --- */
.b-filters__select {
    padding: var(--s0);
    border: var(--border-thin) solid var(--border-color);
    border-radius: var(--s-1);
    min-width: 150px;
}

.b-filters__select:last-child {
    border-bottom: 1px solid var(--border-color);
}

/* --- Donation Item Block (Aesthetics only) --- */
.b-donation-item__header{
 --stack-space: var(--s-1)
}

.b-donation-item__header h3 {
    font-size: var(--font-2);
}

.b-donation-item__meta {
    color: #555;
    font-size: var(--font-0);
}

.b-donation-item__quantity {
    font-weight: 500;
    font-size: var(--font-2);
}
